.tasklist-actions {
  margin: 20px 0;
}

.header-checkbox {
  height: 16px;
  width: 16px;
}

.header-checkbox:hover {
  outline: none;
  border-color: var(--blue);
  box-shadow: inset 0 0 6px rgba(0, 123, 255, 0.7);
}

.header-info {
  font-size: 20px;
  padding-left: 10px;
}

.header-select-sort {
  font-size: 18px;
  padding: 6px 10px;
  border: 1px solid var(--black);
  border-radius: 3px;
  margin: auto;
}

.header-select-sort:hover {
  outline: none;
  border-color: var(--blue);
  box-shadow: inset 0 0 6px rgba(0, 123, 255, 0.7);
}

.header-select-filter {
  font-size: 18px;
  padding: 6px 10px;
  border: 1px solid var(--black);
  border-radius: 3px;
  margin: auto;
}

.header-select-filter:hover {
  outline: none;
  border-color: var(--blue);
  box-shadow: inset 0 0 6px rgba(0, 123, 255, 0.7);
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-buttons {
  display: flex;
  gap: 8px;
}

.bulk-complete-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.bulk-complete-icon {
  width: 28px;
  height: 28px;
}

.bulk-complete-button:hover {
  background-color: var(--blue);
  box-shadow: 0 0 4px 8px var(--blue);
  transition: all 0.2s ease;
}

.bulk-complete-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.bulk-delete-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.bulk-delete-button:hover {
  background-color: var(--blue);
  box-shadow: 0 0 4px 8px var(--blue);
  transition: all 0.2s ease;
}

.bulk-delete-button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.bulk-delete-icon {
  width: 28px;
  height: 28px;
}
