.app-shell {
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  margin: 32px auto;
  padding: 0 20px;
}

.app-title {
  text-align: center;
  margin: 0 0 20px;
  font-size: 40px;
  font-weight: 700;
  color: var(--blue);
}

/*card design*/
.card {
  max-width: 1100px;
  width: 100%;
  margin: 20px 0;
  background: var(--mediumGray);
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px var(--white);
}
